<nav class="navbar navbar-light" style="padding:0px;">
  <div class="container" style="border-bottom: 1px solid darkred;margin: 0px;">
    <img src="assets/sp.png" />
    <div style="float: left;">
    <a class="navbar-light" style="color:darkred; " routerLink="/"><b>Location Central</b></a>
    </div>  
    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/register"
          routerLinkActive="active">
          Sign up
        </a>
      </li>

    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;About us
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>
     
       <li class="nav-item">
        <a class="nav-link"
          routerLink="/logOut"
          routerLinkActive="active">
          <img  *ngIf="currentUser.image" class="user-pic" />
         SignOut {{ currentUser.userName }}
        </a>
      </li>
    </ul>

  </div>
</nav>
